@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: Poppins;
}
.header-intro, ul ,li{
    background-color: #FAF9EE;
    margin: 0;
}
ul{
    list-style-type: none;
    text-align: center;;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    color: white;
}
ul, a{
    background-color: #00809D;
    padding: 20px;
}
li, a:hover{
    background-color: #555;
}
.Introduction-home{
    margin: 5%;
    padding: 10%;
}
#intro-header1{
    background-color: yellow;
    padding: 1px;
    color: black;
}
#intro-header4{
    font-style: italic;
    text-decoration: underline;
}
.section-about{
    margin: 1;
}

/*Section 1 of About-page*/
.about-1{
    background-color: #FFF9BD;
    padding: 10%;
}
.about-1 h3{
    font-size: 50px;
}
.about-1 p{
    font-size: 20px;
}

/*Section 2 of About-page*/
.about-2{
    background-color: #3D74B6;
    padding: 10%;
    color: white;
}
.about-2 h3{
    font-size: 60px;
}
.about-2 p{
    font-size: 20px;
}

/*Section 3 of About-page*/
.about-3{
    background-color: #E9E3DF;
    padding: 10%;
}
.about-3 h3{
    font-size: 60px;
}
.about-3 p{
    font-size: 20px;
}

/*Secion 4 of About-page*/
.about-4{
    background-color: #273F4F;
    padding: 10%;
    color: white;
}
.about-4 h3{
    font-size: 60px;
}
.about-4 p{
    font-size: 20px;
}

/*Section 5 of About-page*/
.about-5{
    background-color: #FEFBC7;
    padding: 10%;
}
.about-5 h3{
    font-size: 60px;
}
.about-5 p{
    font-size: 20px;
}

/*Section 6 of About-page*/
.about-6{
    background-color: #333446;
    padding: 10%;
    color: white;
}
.about-6 h3{
    font-size: 60px;
}
.about-6 p{
    font-size: 20px;
}

/*Section 7 of About-page*/
.about-7{
    background-color: #FFD586;
    padding: 10%;
}
.about-7 h3{
    font-size: 60px;
}
.about-7 p{
    font-size: 20px;
}